<!doctype html>
<title>Is The Pav Open?</title>
<div class="schedule">
    <h2 id="pav">Pavilion XI (The Pav)</h2>
    <ol class="dayofweek">
        <li>Monday – Thursday
            <ol class="hours">
                <li>10:30 <span class="ampm">am</span> – 8:00 <span class="ampm">pm</span></li>
            </ol>
        </li>
        <li>Friday
            <ol class="hours">
                <li>10:30 <span class="ampm">am</span> – 6:00 <span class="ampm">pm</span></li>
            </ol>
        </li>
        <li>Saturday
            <ol class="hours">
                <li>Closed</li>
            </ol>
        </li>
        <li>Sunday
            <ol class="hours">
                <li>Closed</li>
            </ol>
        </li>
    </ol>
    <div class="clear"></div>
</div>
