<!doctype html>
<title>Is The Pav Open?</title>
<center>
    <h1>Is the Pav open?</h1>
    {% if open  %}
    <h1 style="color: green">YES</h1>
      {% if close %}
        <p>Closes at {{ close }}</p>
      {% endif %}
    {% else %}
      <h1 style="color: red"">NO</h1>
    {% endif %}

    <h1>Meal exchange?</h1>
    {% if meal %}
      <h1 style="color: green">YES</h1>
    {% else %}
      <h1 style="color: red"">NO</h1>
    {% endif %}

    <a href="{{ url_for('.hours') }}">View Hours</a>
</center>
